.vscode

*.sw?
*/**/.terraform
*/**/*.tfstate*
ansible/playbooks/grafana_dashboards/redpanda-grafana.json
.idea/

.local/
charts/*/charts/*.tgz
admin.conf

# OSX files
.DS_Store

# templated ci values
charts/redpanda/ci/21-eks-tiered-storage-with-creds-values.yaml

# Dep Chart Lock file
Chart.lock
charts/redpanda/templates/external-service.yaml
charts/redpanda/templates/external-tls-secret.yaml
charts/redpanda/templates/some-users-updated.yaml
charts/redpanda/templates/elevated-sa.yaml

ct_previous_*
