.vscode

*.sw?
*/**/.terraform
*/**/*.tfstate*
ansible/playbooks/grafana_dashboards/redpanda-grafana.json
.idea/

.local/
charts/*/charts/*.tgz
admin.conf

# OSX files
.DS_Store

# asdf
.tool-versions

# templated ci values
charts/redpanda/ci/21-eks-tiered-storage-with-creds-values.yaml

# Dep Chart Lock file
Chart.lock

charts/redpanda/templates/redpanda-license.yaml
charts/redpanda/templates/external-service.yaml
charts/redpanda/templates/external-tls-secret.yaml
charts/redpanda/templates/some-users-updated.yaml
charts/redpanda/templates/prometheus.yaml
charts/kminion/templates/redpanda-tls.yaml
charts/connectors/templates/hidden-only-for-ci/

ct_previous_*

tls.crt
tls.csr
tls.key
ca.crt
ca.key
cert.conf
csr.conf
ca.srl
