---
version: '3'

vars:
  BINDIR: '{{.BINDIR | default ".local/bin"}}'

  # Tool Versions
  CLUSTERAWSADM_VERSION: v2.0.2
  CLUSTERCTL_VERSION: v1.4.2
  HELM_VERSION: v3.11.3
  KIND_VERSION: v0.18.0
  CT_VERSION: 3.7.1-2
  SUPPORT_BUNDLE_VERSION: v0.62.1

run: once

tasks:
  mklocal:
    internal: true
    cmds:
      - mkdir -p {{.BINDIR}}
    status:
      - test -d .local
      - test -d {{.BINDIR}}

  clusterawsadm:
    deps: [mklocal]
    cmds:
      - echo "Running clusterawsadm task"
      - mkdir -p {{.BINDIR}}
      - curl -Ls https://github.com/kubernetes-sigs/cluster-api-provider-aws/releases/download/{{.CLUSTERAWSADM_VERSION}}/clusterawsadm-linux-amd64 -o {{.BINDIR}}/clusterawsadm-{{.CLUSTERAWSADM_VERSION}}
      - chmod 0775 {{.BINDIR}}/clusterawsadm-{{.CLUSTERAWSADM_VERSION}}
      - ln -sf clusterawsadm-{{.CLUSTERAWSADM_VERSION}} {{.BINDIR}}/clusterawsadm
    status:
      - test -f {{.BINDIR}}/clusterawsadm-{{.CLUSTERAWSADM_VERSION}}

  clusterctl:
    deps: [mklocal]
    cmds:
      - echo "Running clusterctl task"
      - mkdir -p {{.BINDIR}}
      - curl -Ls https://github.com/kubernetes-sigs/cluster-api/releases/download/{{.CLUSTERCTL_VERSION}}/clusterctl-linux-amd64 -o {{.BINDIR}}/clusterctl-{{.CLUSTERCTL_VERSION}}
      - chmod 0775 {{.BINDIR}}/clusterctl-{{.CLUSTERCTL_VERSION}}
      - ln -sf clusterctl-{{.CLUSTERCTL_VERSION}} {{.BINDIR}}/clusterctl
    status:
      - test -f {{.BINDIR}}/clusterctl-{{.CLUSTERCTL_VERSION}}

  helm:
    deps: [mklocal]
    cmds:
      - curl -Ls https://get.helm.sh/helm-{{.HELM_VERSION}}-linux-amd64.tar.gz | tar xz -C {{.BINDIR}} linux-amd64/helm --strip 1 --transform 's@$@-{{.HELM_VERSION}}@'
      - ln -s helm-{{.HELM_VERSION}} {{.BINDIR}}/helm
    status:
      - test -f {{.BINDIR}}/helm-{{.HELM_VERSION}}

  kind:
    deps: [mklocal]
    cmds:
      - curl -Ls https://github.com/kubernetes-sigs/kind/releases/download/{{.KIND_VERSION}}/kind-linux-amd64 -o {{.BINDIR}}/kind-{{.KIND_VERSION}}
      - chmod +x {{.BINDIR}}/kind-{{.KIND_VERSION}}
      - ln -s kind-{{.KIND_VERSION}} {{.BINDIR}}/kind
    status:
      - test -f {{.BINDIR}}/kind-{{.KIND_VERSION}}

  kubectl:
    deps: [mklocal]
    vars:
      KUBECTL_VERSION:
        sh: curl -Ls -s https://dl.k8s.io/release/stable.txt
    cmds:
      - curl -Ls https://dl.k8s.io/{{.KUBECTL_VERSION}}/bin/linux/amd64/kubectl -o {{.BINDIR}}/kubectl-{{.KUBECTL_VERSION}}
      - echo "$(curl -Ls https://dl.k8s.io/{{.KUBECTL_VERSION}}/bin/linux/amd64/kubectl.sha256) {{.BINDIR}}/kubectl-{{.KUBECTL_VERSION}}" | sha256sum --check
      - chmod +x {{.BINDIR}}/kubectl-{{.KUBECTL_VERSION}}
      - ln -s kubectl-{{.KUBECTL_VERSION}} {{.BINDIR}}/kubectl
    status:
      - test -f {{.BINDIR}}/kubectl-{{.KUBECTL_VERSION}}

  ct:
    deps: [mklocal]
    cmds:
      - curl -Ls https://github.com/joejulian/chart-testing/releases/download/v{{.CT_VERSION}}/chart-testing_{{.CT_VERSION}}_linux_amd64.tar.gz | tar xz -C {{.BINDIR}} ct --transform 's@$@-{{.CT_VERSION}}@'
      - ln -s ct-{{.CT_VERSION}} {{.BINDIR}}/ct
    status:
      - test -f {{.BINDIR}}/ct-{{.CT_VERSION}}

  aws:
    deps: [mklocal]
    env:
      TEMPDIR:
        sh: mktemp -d
    cmds:
      - curl -Ls "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
      - unzip -q -d "$TEMPDIR" /tmp/awscliv2.zip
      - "${TEMPDIR}/aws/install --bin-dir $(realpath .local/bin) --install-dir $(realpath .local/aws-cli)"
    status:
      - test -f {{.BINDIR}}/aws

  support-bundle:
    deps: [mklocal]
    cmds:
      - curl -Ls https://github.com/replicatedhq/troubleshoot/releases/download/{{.SUPPORT_BUNDLE_VERSION}}/support-bundle_linux_amd64.tar.gz | tar xz -C {{.BINDIR}} support-bundle  --transform 's@$@-{{.SUPPORT_BUNDLE_VERSION}}@'
      - ln -s support-bundle-{{.SUPPORT_BUNDLE_VERSION}} {{.BINDIR}}/support-bundle
    status:
      - test -f {{.BINDIR}}/support-bundle-{{.SUPPORT_BUNDLE_VERSION}}

  gcloud:
    cmds:
      - echo '~~~ Installing gcloud'
      - curl -O https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-433.0.0-linux-x86_64.tar.gz
      - tar -xf google-cloud-cli-433.0.0-linux-x86_64.tar.gz
      - ./google-cloud-sdk/install.sh --usage-reporting=false --quiet --path-update=true
      - "ln -s $(realpath ./google-cloud-sdk/bin/gcloud) {{.BINDIR}}/gcloud"
      - "ln -s $(realpath ./google-cloud-sdk/bin/gsutil) {{.BINDIR}}/gsutil"
    status:
      - test $(gcloud version &>/dev/null; echo $?)

  gcloud-auth-plugin:
    deps:
      - mklocal
      - gcloud
    cmds:
      - gcloud components install gke-gcloud-auth-plugin
    status:
      - test $(gke-gcloud-auth-plugin --version &>/dev/null; echo $?)