apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "redpanda-connect.fullname" . }}-config
  namespace: {{ include "redpanda-connect.namespace" . }}
  labels:
    {{- include "redpanda-connect.labels" . | nindent 4 }}
data:
  redpanda-connect.yaml: |
    {{- with .Values.logger }}
    logger:
      {{- toYaml . | nindent 6}}
    {{- end }}
    {{- with .Values.metrics }}
    metrics:
      {{- toYaml . | nindent 6}}
    {{- end }}
    {{- with .Values.tracing }}
    tracer:
      {{- toYaml . | nindent 6}}
    {{- end }}
    {{- with .Values.http }}
    http:
      {{- toYaml . | nindent 6}}
    {{- end }}
    {{- if and .Values.config (ne .Values.streams.enabled true) }}

    {{- if kindIs "string" .Values.config }}
    {{- tpl .Values.config . | nindent 4}}
    {{- else if kindIs "map[string]interface{}" .Values.config }}
    {{- toYaml (.Values.config | fromYaml) | nindent 4}}
    {{- else }}
    {{- toYaml .Values.config | nindent 4}}
    {{- end -}}

    {{- else if and .Values.streams.enabled .Values.streams.streamsConfigMap }}
    {{- else }}
    input:
      label: "no_config_in"
      generate:
        mapping: root = "This Redpanda Connect instance is unconfigured!"
        interval: 1m
    output:
      label: "no_config_out"
      stdout:
        codec: lines
    {{- end -}}
