{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ template "redpanda-connect.fullname" . }}
  namespace: {{ include "redpanda-connect.namespace" . }}
  labels:
    {{- include "redpanda-connect.labels" . | nindent 4 }}
spec:
{{- with .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ . }}
{{- end }}
{{- with .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ . }}
{{- end }}
  selector:
    matchLabels:
      {{- include "redpanda-connect.selectorLabels" . | nindent 6 }}
{{- end }}
