{{/*
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "redpanda.fullname" . }}-sts-lifecycle
  namespace: {{ .Release.Namespace | quote }}
  labels:
{{- with include "full.labels" . }}
  {{- . | nindent 4 }}
{{- end }}
type: Opaque
stringData:
  common.sh: |-
    #!/usr/bin/env bash

    # the SERVICE_NAME comes from the metadata.name of the pod, essentially the POD_NAME
    CURL_URL="{{ include "admin-http-protocol" . }}://${SERVICE_NAME}.{{ template "redpanda.fullname" . }}.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain | trimSuffix "." }}:{{ .Values.listeners.admin.port }}"

    # commands used throughout
    CURL_NODE_ID_CMD="curl --silent --fail {{ include "admin-tls-curl-flags" . }} ${CURL_URL}/v1/node_config"

    CURL_MAINTENANCE_DELETE_CMD_PREFIX='curl -X DELETE --silent -o /dev/null -w "%{http_code}"'
    CURL_MAINTENANCE_PUT_CMD_PREFIX='curl -X PUT --silent -o /dev/null -w "%{http_code}"'
    CURL_MAINTENANCE_GET_CMD="curl -X GET --silent {{ include "admin-tls-curl-flags" . }} ${CURL_URL}/v1/maintenance"

  postStart.sh: |-
    #!/usr/bin/env bash
    # This code should be similar if not exactly the same as that found in the panda-operator, see
    # https://github.com/redpanda-data/redpanda/blob/e51d5b7f2ef76d5160ca01b8c7a8cf07593d29b6/src/go/k8s/pkg/resources/secret.go

    # path below should match the path defined on the statefulset
    source /var/lifecycle/common.sh

{{- if gt ( .Values.statefulset.replicas | int64 ) 2 }}
    set -ex

    until NODE_ID=$(${CURL_NODE_ID_CMD} | grep -o '\"node_id\":[^,}]*' | grep -o '[^: ]*$'); do
        sleep 0.5
    done

    echo "Clearing maintenance mode on node ${NODE_ID}"
    CURL_MAINTENANCE_DELETE_CMD="${CURL_MAINTENANCE_DELETE_CMD_PREFIX} {{ include "admin-tls-curl-flags" . }} ${CURL_URL}/v1/brokers/${NODE_ID}/maintenance"
    # a 400 here would mean not in maintenance mode
    until [ "${status:-}" = '"200"' ] || [ "${status:-}" = '"400"' ]; do
        status=$(${CURL_MAINTENANCE_DELETE_CMD})
        sleep 0.5
    done
{{- end }}
  
{{- if and .Values.auth.sasl.enabled (not (empty .Values.auth.sasl.secretRef )) }}
    set +x
    
    # Setup and export SASL bootstrap-user
    IFS=":" read -r USER_NAME PASSWORD MECHANISM < $(find /etc/secrets/users/* -print)
    MECHANISM=${MECHANISM:-{{- include "sasl-mechanism" . }}}
    rpk acl user create ${USER_NAME} --password=${PASSWORD} --mechanism ${MECHANISM} {{ template "rpk-flags-no-sasl" $ }} || true
{{- end }}

  preStop.sh: |-
    #!/usr/bin/env bash
    # This code should be similar if not exactly the same as that found in the panda-operator, see
    # https://github.com/redpanda-data/redpanda/blob/e51d5b7f2ef76d5160ca01b8c7a8cf07593d29b6/src/go/k8s/pkg/resources/secret.go

    # path below should match the path defined on the statefulset
    source /var/lifecycle/common.sh

    set -ex

{{- if gt ( .Values.statefulset.replicas | int64 ) 2 }}
    until NODE_ID=$(${CURL_NODE_ID_CMD} | grep -o '\"node_id\":[^,}]*' | grep -o '[^: ]*$'); do
        sleep 0.5
    done

    echo "Setting maintenance mode on node ${NODE_ID}"
    CURL_MAINTENANCE_PUT_CMD="${CURL_MAINTENANCE_PUT_CMD_PREFIX} {{ include "admin-tls-curl-flags" . }} ${CURL_URL}/v1/brokers/${NODE_ID}/maintenance"
    until [ "${status:-}" = '"200"' ]; do
        status=$(${CURL_MAINTENANCE_PUT_CMD})
        sleep 0.5
    done

    until [ "${finished:-}" = "true" ] || [ "${draining:-}" = "false" ]; do
        res=$(${CURL_MAINTENANCE_GET_CMD})
        finished=$(echo $res | grep -o '\"finished\":[^,}]*' | grep -o '[^: ]*$')
        draining=$(echo $res | grep -o '\"draining\":[^,}]*' | grep -o '[^: ]*$')
        sleep 0.5
    done
{{- end }}
{{- if and (not (empty .Values.auth.sasl.secretRef)) (and .Values.auth.sasl.enabled .Values.auth.sasl.users) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.auth.sasl.secretRef | quote }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
{{- with include "full.labels" . }}
  {{- . | nindent 4 }}
{{- end }}
type: Opaque
stringData:
  users.txt: |-
  {{- range $user := .Values.auth.sasl.users }}
    {{- if not (empty $user.mechanism) }}
    {{ printf "%s:%s:%s" $user.name $user.password $user.mechanism }}
    {{- else }}
    {{ printf "%s:%s" $user.name $user.password}}
    {{- end }}
  {{- end }}
    # intentional empty line
{{- end }}
