---
# This workflow triggers the actions in redpanda-data/docs that
# publishes the Helm specifications to the Redpanda documentation.
name: Trigger Helm spec docs
on:
  push:
    branches: [main]
    paths:
      - 'charts/**'
jobs:
  dispatch:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ vars.RP_AWS_CRED_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.RP_AWS_CRED_ACCOUNT_ID }}:role/${{ vars.RP_AWS_CRED_BASE_ROLE_NAME }}${{ github.event.repository.name }}
      - uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            ,sdlc/prod/github/actions_bot_token
          parse-json-secrets: true
      - name: Trigger doc generation in docs repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ env.ACTIONS_BOT_TOKEN }}
          repository: redpanda-data/docs
          event-type: generate-helm-spec-docs
      - name: Trigger doc generation in rp-connect-docs repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ env.ACTIONS_BOT_TOKEN }}
          repository: redpanda-data/rp-connect-docs
          event-type: generate-helm-spec-docs
