# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Nightly version checks

on:
  schedule:
    - cron: '0 1 * * 1-5'  # 01:00 AM UTC Monday - Friday
  workflow_dispatch: {}
jobs:
  redpanda-version:
    strategy:
      matrix:
        chart:
          - redpanda
          - console
# Operator changed it's versioning scheme, so that version checks wrongly open PRs
#          - operator
      fail-fast: false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          git checkout main
          git checkout -
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.21.3'
      - run: go install github.com/joejulian/docker-tag-list@latest
      - name: Check chart version for ${{ matrix.chart }}
        id: chartversion
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: .github/bump_chart_versions.sh ${{ matrix.chart }}
      - name: debug -- delete me
        run: |
          echo TITLE
          echo steps.chartversion.outputs.TITLE
          echo INPUT_BODY
          echo "${INPUT_BODY}"
          echo CHANGED
          echo steps.chartversion.outputs.CHANGED
      - name: create PR
        if: steps.chartversion.outputs.CHANGED == 'true'
        uses: peter-evans/create-pull-request@70a41aba780001da0a30141984ae2a0c95d8704e  # v6.0.2
        with:
          title: ${{ steps.chartversion.outputs.TITLE }}
          commit-message: ${{ steps.chartversion.outputs.TITLE }}
          body-path: ${{ steps.chartversion.outputs.BODY_FILE }}
          branch: bump-appversion/${{ matrix.chart }}
