---
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Test Operator Chart
on:
  workflow_call:
    inputs: {}
    secrets: {}
defaults:
  run:
    shell: nix develop --impure --command bash {0}
jobs:
  test-operator:
    name: Run ct tests for operator chart
    strategy:
      fail-fast: true
    runs-on: ubuntu-22.04
    steps:
      - uses: nixbuild/nix-quick-install-action@v32
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      # Cache the nix store.
      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-${{ runner.arch }}
      # Cache helm repositories.
      - uses: actions/cache@v4
        with:
          key: helm-repositories
          path: |
            ~/.cache/helm
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create kind cluster
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3  # v1.12.0
        with:
          config: .github/kind.yaml
      - name: Check kind config worked
        run: kubectl get nodes
      - name: Annotate nodes for rack awareness
        run: .github/annotate_kind_nodes.sh chart-testing
      - name: Install cert-manager
        run: task helm:install:cert-manager
      - name: Install CRDs
        run: |
          kubectl kustomize https://github.com/redpanda-data/redpanda-operator//src/go/k8s/config/crd?ref="$(yq -r .appVersion charts/operator/Chart.yaml)" | kubectl apply --server-side -f -
        # Chart-testing requires there to be a branch on the local repository
        # for diffing. This will create such a branch without performing a
        # checkout.
      - name: Fetch origin/main
        run: git fetch origin ${{ github.event.repository.default_branch }}:${{ github.event.repository.default_branch }}
      - name: Run chart-testing (install and upgrade)
        run: |
          ct install \
            --github-groups \
            --upgrade \
            --config .github/ct-operator.yaml \
            --skip-missing-values \
            --target-branch ${{ github.event.repository.default_branch }}
